/* ==== HEADER ==== */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario);
    color: white;
    padding: var(--espaciado-md) var(--espaciado-lg);
    border-radius: 10px;
}

#header .logo {
    width: 70px;
    height: 70px;
    display: flex;
}

#header .logo img {
    width: 100%;
    height: 100%;
}

/* NAVBAR */
#header nav {
    display: flex;
    align-items: center;
    position: relative;
}

#header nav ul {
    list-style: none;
    display: flex;
    gap: var(--espaciado-md);
    margin: 0;
    padding: 0;
}

#header nav ul li {
    display: inline;
}

#header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: var(--espaciado-sm) var(--espaciado-md);
    border-radius: 5px;
    transition: background 0.3s;
}

#header nav ul li a:hover,
#header nav ul li a.active {
    background-color: var(--color-secundario);
}

/* MENÚ HAMBURGUESA (MÓVIL) */
#header .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    #header nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--color-primario);
        width: 200px;
        padding: var(--espaciado-md);
        border-radius: 5px;
    }

    #header nav ul.show {
        display: flex;
    }

    #header .menu-toggle {
        display: block;
    }
}

/* Language btn */
.language-switcher {
    position: absolute;
    top: 10px;
    right: var(--padding-global);
}

.btn-language {
    padding: 8px 12px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-language:hover {
    background-color: #ff4500;
}
